ingress:
  enabled: false
  hosts: []
  tls: []
proxy:
  title: Open Analytics Shiny Proxy
  logo-url: http://www.openanalytics.eu/sites/www.openanalytics.eu/themes/oa/logo.png
  landing-page: /
  heartbeat-rate: 10000
  heartbeat-timeout: 60000
  port: 8080
  authentication: none
  container-backend: kubernetes
  kubernetes:
    internal-networking: true
  image:
    name: remche/shinyproxy
    tag: 2.3.1
  labels: {}
  annotations: {}
  nodeSelector: {}
  service:
    type: ClusterIP
    annotations: {}
    ports:
      nodePort:
    loadBalancerIP:
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 300m
      memory: 800Mi
