apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "shinyproxy.labels" . | nindent 4 }}
  name: shinyproxy
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "shinyproxy.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "shinyproxy.labels" . | nindent 8 }}
        {{- if .Values.proxy.labels }}
        {{- .Values.proxy.labels | toYaml | trimSuffix "\n" | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config-map: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if .Values.proxy.annotations }}
        {{- .Values.proxy.annotations | toYaml | trimSuffix "\n" | nindent 8 }}
        {{- end }}
    spec:
      nodeSelector: {{ toJson .Values.proxy.nodeSelector }}
      containers:
        - name: shinyproxy
          image: {{ .Values.proxy.image.name }}:{{ .Values.proxy.image.tag }}
          volumeMounts:
          - name: application-conf
            mountPath: /opt/shinyproxy/application.yml
            subPath: application.yml
          resources:
            {{- .Values.proxy.resources | toYaml | trimSuffix "\n" | nindent 12 }}
      serviceAccountName: shiny
      volumes:
      - name: application-conf
        configMap:
          name: shiny
